* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../assets/back.png") repeat-x fixed;
    background-size: contain;
    background-color: #aba;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px;
    text-shadow: 0 1px 2px #333;
}

header {
    background-color: #ffe;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #ffe;
    font-size: 12px;
    width: 100%;
    max-width: 1600px;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

th,
td {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

.btn {
    width: 15px;
    height: 18px;
    border: none;
    cursor: pointer;
    margin: 0px;
    background: none;
}

button {
    background-color: #f1bd4c;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px #333;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

input[type="date"] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal form {
    position: relative;
    top: 100px;
    width: 100%;
    max-width: 500px;
    background-color: #ffe;
    box-shadow: 1px 1px 3px #333;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 350px;
}

form input,
label,
select {
    margin: 5px;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px #333;
    font-size: 14px;
    font-weight: bold;
}

input[type="submit"],
input[type="button"] {
    background-color: #f1bd4c;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px #333;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.acoes {
    background-color: #faecce;
}

.acoes:hover {
    background-color: #f1bd4c;
}

.oculto {
    display: none;
}

@media print {
    @page {
        size: landscape, A4;
    }

    @media print {

        footer button,
        input[type="file"],
        input[type="button"] {
            display: none;
        }

        body,
        header,
        footer {
            background: none;
        }
    }

    .acoes {
        display: none;
    }
}