body {
    background: url("./assets/back.png") repeat-x fixed;
    background-size: contain;
    background-color: #fff;
    padding-top: 10px;
    font-family: "courier new", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr{
    width: 250px;
    margin: 30px;
}
.ancora{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header a{
    width: 140px;
    height: 105px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/postitblue.png");
}

.content{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content a{
    width: 140px;
    height: 105px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/postit.png");
}

.pict{
    width: 300px;
    height: 300px;
}
.pict img{
    max-width: 300px;
    border-radius: 50%;
}

.about{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:900px){
    .content{
        display: contents;
    }
    .header{
        display: contents;
    }
    .about{
        width: 380px;
    }
}