body {
    background: url("./assets/back.png") repeat-x fixed;
    background-size: contain;
    background-color: #aba;
    padding-top: 10px;
    font-family: "courier new", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    width: 140px;
    height: 105px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 300px;
    height: 300px;
}

.avatar img {
    max-width: 300px;
    border-radius: 150px;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}

.qr {
    width: 250px;
    margin: 30px;
}

.about {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content a {
    width: 140px;
    height: 105px;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postit {
    background-image: url("./assets/postit.png");
}

.postitblue {
    background-image: url("./assets/postitblue.png");
}

.postitred {
    background-image: url("./assets/postitred.png");
}

.postitgreen {
    background-image: url("./assets/postitgreen.png");
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.ancora {
    color: black;
    text-decoration: none;
    margin-top: 30px;
    font-size: 22px;
    border-radius: 40px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #000;
    text-shadow: 1px -1px 3px #999;
}

@media(max-width:700px) {
    .content {
        display: contents;
    }

    footer {
        display: contents;
    }

    .about {
        width: 380px;
    }

    div {
        flex-direction: column;
    }

    h2,
    p {
        text-align: center;
        padding-left: 20px;
    }

    .menu {
        flex-wrap: wrap;
        align-items: center;
        height: 150px;
    }
}