@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
    font-style: normal;
}

/* Variáveis para a paleta de cores*/
:root {
    --color-primary: #000000;
    --color-secondary: #333;
    --color-tertiary: #999;
    --color-quaternary: #ccc;
    --color-quinary: #FFFFFF;
    --color-transparent: rgba(0, 0, 0, 0.3);
}

body {
    background: url("../assets/back.png") repeat-x fixed;
    background-size: contain;
    background-color: var(--color-primary);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--color-quinary)
    font-size: 2.5em;
    margin-bottom: 10px;
}

.eu {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    background-image: url("../assets/avts/av1.webp");
    background-size: cover;
    background-position: center;
    transition: all;
    transition-duration: 1s;
    display: block;
    cursor: pointer;
}

/* Ao passar o mouse aparecer outra imagem */
.eu:hover {
    background-image: url("../assets/avts/av6.webp");
    transition: all;
    transition-duration: 1s;
}

/* Ao clicar aparecer outra imagem */
.eu:active {
    background-image: url("../assets/avts/av5.webp");
    transition: all;
    transition-duration: 0.5s;
}

button {
    background-color: var(--color-quinary);
    color: var(--color-primary);
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: all;
    transition-duration: 0.5s;
}

button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    transition: all;
    transition-duration: 0.5s;
}