* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --p0: #ffffff;
    --p1: #f0f0f0;
    --p2: #a0a090;
    --p3: #3030f0;
    --p4: #000090;
    --pt1: rgba(0, 0, 0, 0.3);
    --pt2: rgba(255, 255, 255, 0.3);
}

body {
    background: var(--p1);
    color: var(--p4);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    overflow: none;
}

header {
    width: 100%;
    height: 10vh;
    background: var(--p4);
    color: var(--p0);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 80vh;
    background: var(--p0);
    color: var(--p4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & nav {
        width: 30vw;
        height: 100%;
        background: var(--p1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        padding: 20px;
    }

    & section {
        width: 100%;
        height: 100%;
        background: var(--p0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        padding: 20px;
        box-shadow: 0 4px 10px var(--pt1);
        overflow-y: auto;
    }
}

footer {
    width: 100%;
    height: 10vh;
    background: var(--p4);
    color: var(--p0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background: var(--p3);
    width: 100%;
    max-width: 15vw;
    color: var(--p0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 2px 5px var(--pt1);

    &:hover {
        background: var(--p2);
        color: var(--p4);
        font-weight: bold;
        box-shadow: 0 4px 10px var(--pt1);
    }
}

table {
    width: fit-content;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid var(--p2);
    }

    th {
        background: var(--p3);
        color: var(--p0);
    }

    tr:nth-child(even) {
        background: var(--p1);
    }

    tr:hover {
        background: var(--p2);
        color: var(--p0);
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 20%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;

        & nav {
            width: 100%;
            height: auto;
            align-items: center;
            gap: 5px;
            padding: 10px;
        }

        & section {
            width: 100%;
            height: auto;
        }
    }

    header,
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 10vh;
    }

    button {
        max-width: 80vw;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    table {
        width: 100%;

        thead {
            display: none;
        }

        tr {
            display: flex;
            flex-direction: column;
            align-items: center;

            td {
                width: 100%;
                text-align: right;

                &:before {
                    content: attr(data-label);
                    text-align: left;
                    font-weight: bold;
                    display: block;
                }
            }

            td[data-label="Imagem"],
            td[data-label="Link da imagem"] {
                display: none;
            }

        }
    }
}