*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: #f5f5f5;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px 0;
    color: #555;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
}

h2{
    margin: 20px 0;
    color: #555;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 15px;
}

tr{
    background-color: #fff;
    border-radius: 10px;
}

th{
    height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #555;
    text-transform: uppercase;
}

td{
    text-align: center;
    height: 50px;
}

td img{
    max-width: 100px;
}