*{
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

body{
    width: 100%;
    max-height: 1000px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    font-size: 25px;
    color: #333;
    margin-top: 15px;
}

section{
    width: 100%;
    max-height: 210px;
    max-width: 600px;
    margin: 5px;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section label{
    font-size: 14px;
    color: #333;
    margin: 5px;
}

section input{
    max-width: 100px;
    height: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

section button{
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

main{
    width: 100%;
    max-height: 450px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer label{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 5px;
}

footer input{
    font-weight: bold;
    max-width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

input[type=number]{
    text-align: right;
    padding-right: 5px;
}

.input{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

table{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

thead{
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

tbody tr:hover{
    background-color: #e0e0e0;
}

th, td{
    padding: 10px;
    text-align: center;
    font-size: 14px;
}